POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=data_agency_db

# Host y and port for the backend
BACKEND_HOST=0.0.0.0
BACKEND_PORT=8081

# Uri connection for database
DATABASE_URI=postgres://user:password@localhost:5432/data_agency_db

# Optional variables for Kubernetes / other deployments
FRONTEND_HOST=localhost
FRONTEND_BACKEND=http://localhost:8081